<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header" style="text-align: center; font-size: x-large;">
            <a routerLink='' style="color:goldenrod; font-family: cursive; text-decoration: none;">Anthony's Grocery Store</a>
        </div>
        <ul class="nav navbar-nav" style="margin-left: 5%;">
            <li>
                <input type="text" placeholder="Search...">
                <button class="btn btn-info" style="margin-left: 3px;">Go</button>
            </li>
            <li>
                <a class="link">Profile</a>
            </li>
            <li>
                <a class="link" routerLink='/orders' routerLinkActive='active'>Orders</a>
            </li>
            <li>
                <a class="link" routerLink='/cart' routerLinkActive='active'>Cart</a>
            </li>
        </ul>
    </div>
</div>

<!-- 
<div class="row">
    <div class="col-md jumbotron text-center" style="font-family: cursive; background-color: cadetblue; padding-bottom: 0.5%; padding-top: 3%;">
        <a href="#" style="color: black; text-decoration: none;"><h2 style="margin-top: 0%;">Anthony's Bookstore</h2></a> 
        <input type="text" placeholder="Search..." style="margin-right: 5px;">
        <div style="text-align: end;">
            <a href="#" style="margin-right: 5%;">Profile</a>
            <a href="#" style="margin-right: 5%;">Orders</a>
            <a href="#" style="margin-right: 5%;">Cart</a>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="p-2">Action</div>
    <div class="p-2">Action</div>
    <div class="p-2">Action</div>
</div>
<div class="row">
</div> -->